# XIN local
PORT=8787
XIN_ENV=dev
XIN_STORAGE=json
XIN_JSON_PATH=./xemails.json
XIN_SMTP_PORT=1025
XIN_SMTP_HOST=0.0.0.0
# XIN_CORS_ORIGINS=https://your-site.com
# XIN_API_KEY=change-this-in-prod-only

# DynamoDB (Lambda / Floci / dynamodb-local)
# XIN_STORAGE=dynamodb
# XIN_TABLE=xemails
# AWS_REGION=eu-west-1
# XIN_DYNAMO_ENDPOINT=http://localhost:8000
